
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /* importamos la letra o  estilo de letra */

*{
    padding: 1;
    margin: 10;

}

body{
   background-color: black; 
   color: #F6F6F6;
   padding: 10px;
   height: 100vh;
   box-sizing: border-box;
}

.titulo-destacado{
    color: #22D4FD;
}
.universidad{
    color: #22D4FD;
    text-decoration: none;
}
.despedida{
    color: #22D4FD;
}
.presentacion{
    display: flex;
    align-items: center;
    margin: 5% 5%;
    justify-content: space-between;

}
.presentacion__contenido{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 0px;


}
.presentacion__contenido__titulo{
    font-size: 56px;
    font-family: "Krona One", sans-serif; /* esto no los da el mismo google, buscamos google fonds*/
    color: #22D4FD;
}
.presentacion__contenido__parrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-style: oblique;

}
.presentacion__enlaces{
   display: flex;
   justify-content: space-evenly;  
}
.presentacion__enlaces__link{
    width: 310 px; /* anchura*/
    background-color: #22D4FD;
    text-align: center; /* texto centrado */
    padding: 21.5px 0; /* separacion de la letra y el boton*/
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: black;

}

.presentacion__img{
    width: 400px; /* ajusta el tamaño según tus necesidades */
    margin-left: 0px; /* añade margen a la izquierda para separar de los enlaces */
}
.redes__sociales{
   
        display: flex;
        align-items: center;
        margin-top: 20px; /* Añade un margen superior para separar de los enlaces anteriores */
        display: flex;
        justify-content: space-evenly; 
     
}
.presentacion__enlaces__link_redes{
    width: 400 px; /* anchura*/
    background-color: #22D4FD;
    text-align: center; /* texto centrado */
    padding: 25.5px 0; /* separacion de la letra y el boton*/
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 1000;
    text-decoration: none;
    color: black;

}

